<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.cf.dbroute.dao.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.github.cf.dbroute.bean.OrderItem">
        <id column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.github.cf.dbroute.bean.OrderItem">
        insert into t_order_item (item_id, order_id, user_id)
        values(#{itemId, jdbcType=INTEGER}, #{orderId, jdbcType=INTEGER}, #{userId, jdbcType=INTEGER})
    </insert>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * FROM
        t_order_item
        where user_id = #{userId}
    </select>
</mapper>